<nav>
	<div class="container-fluid">
		<div class="row between-md middle-xs">
			<div class="col-xs-12 col-md-4">
				<h1><a href="/">Close Up</a></h1>
			</div>
			<div class="col-xs-12 col-md-4">
				<h3><a href="/photos">See your photos</a></h3>
			</div>
		</div>
	</div>
</nav>