<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
	<% include ./partials/nav %>
	<div class="container-fluid">
		
		<div class="row">
			<section class="camera-group col-xs-6 col-xs-offset-3">
				
				<div class="preview">
					<span id="reopen-camera" title="Return to camera view">
						<i class="fa fa-camera" aria-hidden="true"></i>
					</span>
					<div id="selected-pic">
					<!-- Selected photo preview goes here -->	
					</div>
					<form>
						<label for="note">Add a short note</label>
						<input type="text" name="note" id="note" maxlength="30">
						<input type="submit" value="Save" id="savePhotoButton">
					</form>
				</div>
				
				<div class="camera">
					<span id="snapshot">
						<i class="fa fa-camera" aria-hidden="true"></i>
					</span>
					<video autoplay></video>
				</div>
			</section>

			<canvas></canvas>
			
			<section class="photo-group col-xs-12">
				<div class="output row center-xs">
					
					<div class="col-xs-2">
						<figure class="brooklyn">
							<img alt="" class="photo">
						</figure>
					</div>

					<div class="col-xs-2">
						<figure class="earlybird">
							<img alt="Screen capture" class="photo">
						</figure>
					</div>
					
					<div class="col-xs-2">
						<figure class="_1977">
							<img alt="" class="photo">
						</figure>
					</div>

					<div class="col-xs-2">
						<figure class="willow">
							<img alt="" class="photo">
						</figure>
					</div>

					<div class="col-xs-2">
						<figure class="toaster">
							<img alt="Screen capture" class="photo">
						</figure>	
					</div>
				</div>
			</section>		
		</div>

	</div>

	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script src="/scripts/camera.js" ></script>
</body>
</html>