<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Close Up</title>

	<link rel="stylesheet" href="/styles/vendor/normalize.min.css">
	<link rel="stylesheet" href="/styles/vendor/cssgram.min.css">
	<link rel="stylesheet" href="/styles/style.css">


	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/scripts/camera.js" ></script>
</head>
<body>
<div class="camera">
		<video autoplay></video>
		<button id="snapshot">Take a photo</button>
	</div>

	<canvas></canvas>

	<div class="output">
		
		<figure class="brooklyn">
			<img alt="" class="photo">
		</figure>

		<figure class="earlybird">
			<img alt="Screen capture" class="photo">
		</figure>
		
		<figure class="_1977">
			<img alt="" class="photo">
		</figure>
		
		<figure class="willow">
			<img alt="" class="photo">
		</figure>
		
		<figure class="toaster">
			<img alt="Screen capture" class="photo">
		</figure>
		
	</div>
</body>
</html>