<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
	<% include ./partials/nav %>
	<div class="container-fluid main">
		<div class="col-xs-8 col-xs-offset-2" >
			<h1>Gallery</h1>
			<div class="photo-grid row">
				<% if (photos) { %>

					<% photos.forEach(function(photo) {%>
					   <div class="col-xs-4">
						   <figure class="<%= photo.filter %>">
						     <a href="/photos/<%= photo._id %>"><img src="<%= photo.url %>" alt="selfie" class="photo"></a>
						   </figure>
					   	<p><%= photo.note %></p>
					   </div>
					<% }); %>

				<% } %>			
			</div>

			<% if (JSON.stringify(photos) === '[]') { %>
				<h3>You haven't taken any photos yet. <a id="take-some" href="/">Go take some!</a></h3>
			<% } %>		
		</div>
	</div>
</body>
</html>