<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
	<% include ./partials/nav %>
	<div class="container-fluid">
		<h1>Photos page</h1>

		<% if (photos) { %>

			<% photos.forEach(function(photo) {%>
			   <div>
				   <figure class="<%= photo.filter %>">
				     <a href="/photos/<%= photo._id %>"><img src="<%= photo.url %>" alt="selfie" class="photo"></a>
				   </figure>
			   	<p><%= photo.note %></p>
			   </div>
			<% }); %>

		<% } %>

		<% if (JSON.stringify(photos) === '[]') { %>
			<h3>You haven't taken any photos yet. <a href="/">Go take some!</a></h3>
		<% } %>	
	</div>
</body>
</html>